.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    @include respond-above(sm) {
        width: 40%;
        right: 0;
        height: calc(100vh - 50px);
    }
}

.sectionTitle {
    margin-top: 0;
    font-size: 1.5em;
    text-align: center;
    @include respond-above(sm) {
        text-align: left;
    }
    @include respond-above(md) {
        font-size: 2.1em;
    }
}

.itemsList {
    list-style: none;
    margin: 0;
    padding: 0;
}