.wrapper { 
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    @include respond-above(sm) {
        width: 50%;
    };
    @include respond-above(md) {
        width: 60%;
    }
}

.sectionTitle {
    margin-top: 0;
    font-size: 2.1em;
}