.item { 
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    margin: 0 auto 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    @include respond-above(sm) {
        margin: 0 0 10px;
        max-width: unset;
    }
}

.cover { 
    height: 150px;
    width: 100px;
    object-fit: cover;
}

.info { 
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 15px;
}

.title {
    margin: 0 0 5px;
    font-size: 1.2em;
}

.property {
    font-weight: 700;
    margin-bottom: 3px;
}

.propertyValue {
    margin-left: 7px;
    font-weight: 400;
}

.removeButton { 
    position: absolute;
    bottom: 5px;
    right: 5px;
}